body {
  padding: 0;
  margin: 0;
  font-size: 14px !important;
  color: #888;
  background-color: #fafbfc;
  font-family: 'Muli', sans-serif;
  line-height: 24px; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%; }
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    .container {
      width: 85%; } }
  @media only screen and (min-width: 993px) and (max-width: 1024px) {
    .container {
      width: 85%; } }

.uppercase {
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  line-height: 24px; }

.theme-color {
  color: #eb5a60; }

.green-color {
  color: #6ad48f; }

.relative {
  position: relative; }

.top-7 {
  top: 7px; }

.left-0 {
  left: 0 !important; }

.margin-0 {
  margin: 0 !important; }

.marginBottom-15 {
  margin-bottom: 15px !important; }

.marginBottom-0 {
  margin-bottom: 0px !important; }

.marginTop-0 {
  margin-top: 0px !important; }

.marginTop-5 {
  margin-top: 5px !important; }

.marginTop-15 {
  margin-top: 15px !important; }

.marginBottom-30 {
  margin-bottom: 30px !important; }

.marginTop-30 {
  margin-top: 30px !important; }

.padding-0 {
  padding: 0 !important; }

.paddingLeft-0 {
  padding-left: 0; }

.paddingRight-0 {
  padding-right: 0; }

.black-color {
  color: #444 !important; }

.theme-color {
  color: #eb5a60 !important; }

.line1 {
  border-bottom: 1px solid #dcdcdc !important;
  margin: 20px 0;
  position: relative; }

.fs-11 {
  font-size: 11px !important; }

.fs-12 {
  font-size: 12px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-15 {
  font-size: 15px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-18 {
  font-size: 18px !important; }

.fs-20 {
  font-size: 20px !important; }

.fs-24 {
  font-size: 24px !important; }

.select-wrapper input.select-dropdown {
  border-color: #9e9e9e !important;
  font-size: 14px; }

.select-wrapper span.caret {
  color: #888; }

.dropdown-content li {
  min-height: 30px;
  line-height: 24px; }

[type="checkbox"].filled-in:not(:checked) + label:after, [type="checkbox"].filled-in:checked + label:before, [type="checkbox"].filled-in:not(:checked) + label:before, [type="checkbox"].filled-in:checked + label:after {
  top: 10px; }

#requestService [type="checkbox"].filled-in:not(:checked) + label:after, #requestService [type="checkbox"].filled-in:checked + label:before, #requestService [type="checkbox"].filled-in:not(:checked) + label:before, #requestService [type="checkbox"].filled-in:checked + label:after {
  top: 3px; }
#requestService p {
  margin: 10px 0; }
#requestService p.info {
  position: relative;
  top: -15px;
  margin-bottom: 10px !important; }

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #eb5a60;
  background-color: #eb5a60; }

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 14px;
  color: #eb5a60; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.btn {
  border-radius: 30px;
  box-shadow: none;
  letter-spacing: 0;
  font-size: inherit;
  padding: 0px 25px;
  text-transform: inherit;
  height: 42px;
  line-height: 42px; }

.btn-theme {
  background: #eb5a60; }
  .btn-theme:hover, .btn-theme:focus {
    background: #eb5a60; }

.btn-theme-white-bg {
  background: #fff;
  color: #eb5a60; }
  .btn-theme-white-bg:hover, .btn-theme-white-bg:focus {
    background: #fff; }

.btn-theme-white {
  background: transparent;
  color: #eb5a60; }
  .btn-theme-white:hover, .btn-theme-white:focus {
    background: #fff; }

.btn-theme-white-border {
  background: transparent;
  color: #eb5a60;
  border: 2px solid #eb5a60; }
  .btn-theme-white-border:hover, .btn-theme-white-border:focus {
    background: #fff; }

.header {
  background: #fff;
  padding: 10px 0; }
  .header .logo {
    display: inline-block; }
    .header .logo img {
      padding-top: 5px; }
  .header ul {
    float: right; }
    .header ul li {
      display: inline-block; }
      .header ul li a {
        display: block;
        padding: 15px;
        margin-top: 1px;
        color: #444; }

.banner {
  background: #fff;
  height: 550px;
  position: relative; }
  .banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    .banner .banner-text h3 {
      color: #444;
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 36px;
      line-height: 50px; }

.featured-listing, .features {
  padding: 50px 0; }
  .featured-listing .title, .features .title {
    margin-bottom: 50px;
    color: #444; }

.theme-cards {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05); }
  .theme-cards h4 {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    color: #444; }
  .theme-cards ul li {
    display: inline-block; }
    .theme-cards ul li a {
      color: #888; }
    .theme-cards ul li .seperator {
      padding: 0 5px;
      display: inline-block; }
  .theme-cards .investment h5 {
    font-size: 16px; }
  .theme-cards .investment h6 {
    font-size: 14px; }
  .theme-cards .location, .theme-cards .buyers {
    padding: 5px 0 3px; }

.services {
  background: #fff;
  padding: 50px 0;
  border-bottom: 1px solid #f5f5f5; }
  .services .services-cards {
    text-align: center; }
    .services .services-cards .services-image img {
      border-radius: 100%;
      width: 80px;
      height: 80px; }
    .services .services-cards h4 {
      font-size: 16px;
      color: #444; }

.features {
  background: #fff; }
  .features .features-cards {
    padding-bottom: 100px; }
    .features .features-cards h4 {
      color: #444;
      font-size: 20px;
      margin-top: 50px; }
  .features .features-cards:last-child {
    padding-bottom: 0; }

.home-cta {
  color: #fff;
  background: #eb5a60;
  padding: 40px 0 20px; }
  .home-cta h4 {
    font-size: 24px;
    line-height: 36px; }
  .home-cta .btn {
    margin-top: 25px;
    border: 2px solid #fff;
    height: 50px;
    line-height: 42px; }

.main-footer {
  background: #fff;
  padding: 50px 0 10px; }
  .main-footer .col.m6 {
    padding: 0; }
  .main-footer h4 {
    color: #444;
    font-size: 20px;
    margin-bottom: 20px; }
  .main-footer ul li {
    display: block;
    padding: 5px 0; }
    .main-footer ul li a {
      color: #888;
      display: block; }
      .main-footer ul li a:hover {
        color: #eb5a60; }
  .main-footer .footer-top {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px; }
  .main-footer .get-in-touch .service-details {
    color: #eb5a60; }

.heading-inner h4 {
  color: #444;
  font-size: 20px;
  margin-top: 40px;
  font-weight: 600; }
.heading-inner h6 {
  font-size: 14px; }

.search {
  background: #fff;
  margin: 30px 0 30px;
  position: relative; }
  .search .material-icons {
    position: absolute;
    top: 12px;
    left: 12px; }
  .search input {
    padding-left: 50px !important;
    width: calc(100% - 50px) !important;
    margin: 0 !important;
    border: 0 !important; }
    .search input:hover, .search input:focus {
      border-bottom: 0 !important;
      box-shadow: none !important;
      outline: 0 !important; }

.search-filter {
  background: #fff;
  padding: 20px 0.75rem !important;
  margin-top: 30px; }

.filters p {
  margin: 0; }

.filters-loadmore {
  color: #888;
  display: block;
  padding: 10px 0;
  cursor: pointer;
  font-size: 12px; }
  .filters-loadmore:hover {
    color: #eb5a60; }

.input-field.col label, label.main-label {
  font-size: 15px; }

.breadcrums ul {
  padding: 15px 0; }
  .breadcrums ul li {
    display: inline-block; }
    .breadcrums ul li a {
      position: relative;
      display: block;
      color: #888;
      padding-right: 15px; }
      .breadcrums ul li a:hover, .breadcrums ul li a:focus {
        text-decoration: none;
        color: #eb5a60; }
      .breadcrums ul li a:after {
        content: '>';
        right: 0;
        position: absolute; }
      .breadcrums ul li a .material-icons {
        position: relative;
        top: 7px; }
  .breadcrums ul li:last-child a:after {
    content: ''; }

.browseListingDetailsWrapper .short-desc {
  background: #fff;
  padding: 30px;
  margin-bottom: 50px; }
  .browseListingDetailsWrapper .short-desc h2, .browseListingDetailsWrapper .short-desc h3, .browseListingDetailsWrapper .short-desc h4, .browseListingDetailsWrapper .short-desc h5 {
    margin-top: 0; }
  .browseListingDetailsWrapper .short-desc .intro {
    margin-bottom: 30px; }
    .browseListingDetailsWrapper .short-desc .intro h3 {
      font-size: 20px;
      color: #444; }
    .browseListingDetailsWrapper .short-desc .intro h5 {
      font-size: 13px; }
      .browseListingDetailsWrapper .short-desc .intro h5 .material-icons {
        font-size: 14px;
        top: 4px;
        position: relative;
        margin-bottom: 10px; }
  .browseListingDetailsWrapper .short-desc .analytics {
    margin-bottom: 30px; }
    .browseListingDetailsWrapper .short-desc .analytics .col.m4 {
      border-right: 2px solid #f5f5f5;
      margin-right: 3%;
      width: 30%; }
    .browseListingDetailsWrapper .short-desc .analytics .col.m4:last-child {
      border-right: 0px solid #f5f5f5; }
    .browseListingDetailsWrapper .short-desc .analytics h5 {
      font-size: 13px;
      color: #444;
      text-transform: uppercase; }
    .browseListingDetailsWrapper .short-desc .analytics h2 {
      font-size: 22px;
      margin-top: 15px; }
  .browseListingDetailsWrapper .short-desc .brief h3 {
    font-size: 13px;
    color: #444;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .browseListingDetailsWrapper .short-desc .share h5 {
    text-align: right; }
    .browseListingDetailsWrapper .short-desc .share h5 a {
      color: #888;
      display: inline-block; }
      .browseListingDetailsWrapper .short-desc .share h5 a .material-icons {
        font-size: 24px;
        margin-right: 10px; }
.browseListingDetailsWrapper .register {
  padding: 30px;
  margin-top: 30px;
  background: #fff; }
  .browseListingDetailsWrapper .register h5 {
    font-size: 15px;
    line-height: 30px; }
    .browseListingDetailsWrapper .register h5 a {
      color: #eb5a60; }
.browseListingDetailsWrapper .represented {
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  text-align: left; }
  .browseListingDetailsWrapper .represented h4 {
    font-size: 13px;
    text-transform: uppercase; }
  .browseListingDetailsWrapper .represented h3 {
    margin-top: 0px;
    font-size: 17px; }

.center-modal {
  background: #fff;
  padding: 10px 30px;
  margin: 50px 0 10px; }

.dashboard-concept {
  height: auto !important;
  width: 100%;
  border-radius: 0;
  min-height: 250px;
  background: #fff;
  color: #fafbfc !important;
  padding-bottom: 50px;
  display: block;
  text-align: center;
  box-shadow: 0 0 1px #e6e6e6;
  -webkit-box-shadow: 0 0 1px #e6e6e6;
  -moz-box-shadow: 0 0 1px #e6e6e6;
  -o-box-shadow: 0 0 1px #e6e6e6;
  -ms-box-shadow: 0 0 1px #e6e6e6; }
  .dashboard-concept:hover, .dashboard-concept:focus {
    height: auto !important;
    width: 100%;
    border-radius: 0;
    min-height: 250px;
    background: #fff;
    color: #eb5a60; }
  .dashboard-concept .material-icons {
    font-size: 50px;
    color: #444;
    margin: 50px 0 15px 0;
    opacity: 0.4; }
  .dashboard-concept h4 {
    color: #eb5a60;
    font-size: 22px; }
  .dashboard-concept p {
    color: #888 !important;
    font-size: 16px; }

.browseListing-help {
  margin-top: 45px; }
  .browseListing-help h4 {
    color: #444;
    font-size: 20px; }
  .browseListing-help h6 {
    margin-bottom: 30px; }
  .browseListing-help .help-cards a {
    display: block;
    background: #fff;
    padding: 30px 15px;
    box-shadow: 0 0 1px #e6e6e6;
    -webkit-box-shadow: 0 0 1px #e6e6e6;
    -moz-box-shadow: 0 0 1px #e6e6e6;
    -o-box-shadow: 0 0 1px #e6e6e6;
    -ms-box-shadow: 0 0 1px #e6e6e6; }
    .browseListing-help .help-cards a h5 {
      font-size: 18px;
      color: #eb5a60; }

.createServiceProfile {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-image: url(../images/slide1.jpg);
  background-position: center center; }
  .createServiceProfile .serviceProfile {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%); }
    .createServiceProfile .serviceProfile h4 {
      font-size: 24px;
      color: #fff;
      padding-left: 30px; }
    .createServiceProfile .serviceProfile h6 {
      font-size: 14px;
      color: #fff;
      padding-left: 30px; }

.tabs-wrapper .tabs {
  background: transparent;
  margin-bottom: 30px; }
  .tabs-wrapper .tabs .tab {
    margin-right: 30px; }
    .tabs-wrapper .tabs .tab a {
      font-weight: 600;
      padding: 0; }

.browsedetails-section {
  background: #fff;
  padding: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0 1px #e6e6e6;
  -webkit-box-shadow: 0 0 1px #e6e6e6;
  -moz-box-shadow: 0 0 1px #e6e6e6;
  -o-box-shadow: 0 0 1px #e6e6e6;
  -ms-box-shadow: 0 0 1px #e6e6e6; }
  .browsedetails-section .m6 {
    padding: 0; }
  .browsedetails-section .heading {
    font-size: 20px;
    color: #444;
    margin-bottom: 30px;
    margin-top: 0; }
  .browsedetails-section .browsedetails-content {
    margin-bottom: 15px; }
    .browsedetails-section .browsedetails-content .label {
      font-size: 12px;
      opacity: 0.6;
      text-transform: uppercase;
      margin: 0px;
      display: block; }
    .browsedetails-section .browsedetails-content h5 {
      margin: 0px 0 15px 0px;
      font-size: 15px; }

.browseDetails-documents {
  margin: 0;
  padding: 0; }
  .browseDetails-documents li {
    list-style-type: none;
    display: block;
    margin-bottom: 5px; }
    .browseDetails-documents li a {
      position: relative;
      display: inline-block;
      top: 7px; }

textarea.materialize-textarea:focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) {
  color: #eb5a60 !important; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #eb5a60;
  -webkit-box-shadow: 0 1px 0 0 #eb5a60;
  box-shadow: 0 1px 0 0 #eb5a60; }

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #eb5a60 !important; }

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #eb5a60;
  -webkit-box-shadow: 0 1px 0 0 #eb5a60;
  box-shadow: 0 1px 0 0 #eb5a60; }

.modal {
  padding-bottom: 20px; }
  .modal .modal-footer {
    text-align: left;
    padding: 4px 15px 0; }

.timeline {
  border-left: 2px solid #dcdcdc;
  margin-left: 100px !important;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0 !important;
  color: #888;
  margin: 0px auto;
  position: relative;
  padding: 20px;
  list-style: none;
  text-align: left; }

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
  color: #444; }

.timeline .event {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px; }

.timeline .event h3 {
  margin: 0;
  font-size: 16px;
  top: -5px;
  position: relative; }

.timeline .event p {
  margin-top: 10px; }

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none; }

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0; }

.timeline .event:before {
  left: -150px;
  color: #444;
  top: -5px;
  content: attr(data-date);
  text-align: right;
  font-size: 12px;
  min-width: 120px; }

.timeline .event .hike.increment {
  color: #6ad48f;
  font-size: 10px;
  margin-left: 10px;
  display: inline-block;
  font-weight: 500;
  top: -3px;
  position: relative; }

.timeline .event:after {
  left: -7px;
  background: #eb5a60;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 0px; }

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px; }

  .timeline h3 {
    font-size: 16px; }

  .timeline p {
    padding-top: 20px; }

  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px; } }
@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px; }

  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px; }

  .timeline h3 {
    font-size: 16px; }

  .timeline p {
    padding-top: 20px; } }
a.portfolio-link {
  margin: 0 auto;
  display: block;
  text-align: center; }

.table {
  background: #fff; }
  .table table th, .table table td {
    padding-left: 15px; }

#viewRequest .btn {
  width: 100%;
  margin-bottom: 15px; }
#viewRequest .m9 h3 {
  font-size: 24px;
  color: #444;
  margin-bottom: 5px; }
  #viewRequest .m9 h3 img {
    width: 20px; }
#viewRequest .m9 h4 {
  font-size: 15px; }
#viewRequest .m9 .deals {
  margin-bottom: 10px; }
  #viewRequest .m9 .deals h4 {
    font-size: 20px;
    color: #444;
    margin-bottom: 0px; }
  #viewRequest .m9 .deals p {
    margin-top: 0; }

.specialization span {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  background: #f2f2f2;
  margin-right: 5px; }

.service-providers-cards {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px; }
  .service-providers-cards .service-header .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    float: left; }
  .service-providers-cards .service-header .profile-nam {
    margin-left: 100px; }
    .service-providers-cards .service-header .profile-nam a {
      color: #444; }
    .service-providers-cards .service-header .profile-nam h4 {
      font-size: 18px;
      top: 10px;
      position: relative;
      color: #444; }
      .service-providers-cards .service-header .profile-nam h4 img {
        width: 20px;
        margin-left: 10px;
        top: 3px;
        position: relative; }
    .service-providers-cards .service-header .profile-nam h5 {
      font-size: 15px;
      margin-top: 5px; }
  .service-providers-cards .service-content h3 {
    font-size: 20px;
    color: #444;
    margin-top: 0px;
    margin-bottom: 5px; }
  .service-providers-cards .service-content h4 {
    font-size: 16px;
    margin: 0; }
  .service-providers-cards .service-footer .bookmark {
    color: #eb5a60;
    float: right;
    margin-top: 2px; }
    .service-providers-cards .service-footer .bookmark .material-icons {
      font-size: 34px; }
  .service-providers-cards:hover .service-header a {
    color: #eb5a60; }

.service-provider-dtls {
  margin-top: 40px; }

.modal .select-wrapper input.select-dropdown {
  border-bottom: 2px solid #9e9e9e !important; }

.postListingWrapper {
  margin-top: 40px; }
  .postListingWrapper .postListing-leftPanel h5 {
    font-size: 24px;
    color: #444;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 20px; }
  .postListingWrapper .postListing-leftPanel ul li {
    display: block; }
    .postListingWrapper .postListing-leftPanel ul li a {
      display: block;
      padding: 10px 15px;
      border-left: 4px solid #f5f5f5;
      color: #888;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
  .postListingWrapper .postListing-leftPanel ul li.active a {
    border-color: #eb5a60;
    color: #444;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  .postListingWrapper .postListing-rightPanel .postListing-formWrapper {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 1px #e6e6e6;
    -webkit-box-shadow: 0 0 1px #e6e6e6;
    -moz-box-shadow: 0 0 1px #e6e6e6;
    -o-box-shadow: 0 0 1px #e6e6e6;
    -ms-box-shadow: 0 0 1px #e6e6e6; }
    .postListingWrapper .postListing-rightPanel .postListing-formWrapper [type="checkbox"].filled-in:not(:checked) + label:after, .postListingWrapper .postListing-rightPanel .postListing-formWrapper [type="checkbox"].filled-in:checked + label:before, .postListingWrapper .postListing-rightPanel .postListing-formWrapper [type="checkbox"].filled-in:not(:checked) + label:before, .postListingWrapper .postListing-rightPanel .postListing-formWrapper [type="checkbox"].filled-in:checked + label:after {
      top: 3px; }

.settings-tab li a.active {
  border-left: 4px solid #eb5a60 !important; }

.emp {
  margin-bottom: 20px; }
  .emp h4 {
    font-size: 16px;
    color: #444;
    margin: 0; }
    .emp h4 a {
      color: #eb5a60; }
      .emp h4 a .material-icons {
        font-size: 20px;
        top: 4px;
        position: relative;
        margin-left: 5px; }
  .emp h5 {
    font-size: 13px;
    color: #444;
    margin: 0; }
  .emp h6 {
    color: #888;
    font-size: 12px;
    margin: 0; }

#profile .line1 {
  margin: 10px 0; }

input[type=text].valid:not(.browser-default) {
  border-bottom: 1px solid #eb5a60;
  -webkit-box-shadow: 0 1px 0 0 #eb5a60;
  -moz-box-shadow: 0 1px 0 0 #eb5a60;
  -ms-box-shadow: 0 1px 0 0 #eb5a60;
  -o-box-shadow: 0 1px 0 0 #eb5a60;
  box-shadow: 0 1px 0 0 #eb5a60; }

.financial-files .upload-file {
  border: 2px dashed #c7c7c7;
  padding: 4px 10px;
  position: relative;
  top: -15px;
  text-align: center; }

.financial-label {
  color: #444 !important; }

/*# sourceMappingURL=main.css.map */
