$base-color : #fafbfc;
$base-color-2 : #dcdcdc;
$theme-color : #eb5a60;
$bg-white : #fff;
$font-color : #888;
$black-color : #444;
$border-color : #f5f5f5;
$green-color: #6ad48f;

@mixin transition($all,$time,$type) {
  transition: $all $time $type;
  -webkit-transition: $all $time $type;
  -moz-transition: $all $time $type;
  -ms-transition: $all $time $type;
  -o-transition: $all $time $type;
}
@mixin boxshadow($top, $left, $blur, $color) {
  box-shadow: $top $left $blur $color;
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  -o-box-shadow : $top $left $blur $color;
  -ms-box-shadow : $top $left $blur $color;
}
@mixin translate($x,$y){
  transform: translate($x,$y);
  -webkit-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  -o-transform: translate($x,$y);
}

@mixin responsive($min,$max) {
  @media only screen and ( min-width : $min ) and ( max-width : $max ) {
    @content;
  }
}
body{
  padding: 0;
  margin: 0;
  font-size: 14px !important;
  color: $font-color;
  background-color: $base-color;
  font-family: 'Muli', sans-serif;
  line-height: 24px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  @include responsive(601px,992px){
    width: 85%;
  }
  @include responsive(993px,1024px){
    width: 85%;
  }
}
.uppercase{
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
  line-height: 24px;
}
.theme-color{
  color: $theme-color;
}
.green-color{
  color: $green-color;
}
.relative{
  position: relative;
}
.top-7{
  top: 7px;
}
.left-0{
  left: 0 !important;
}
.margin-0{
  margin: 0 !important;
}
.marginBottom-15{
  margin-bottom: 15px !important;
}
.marginBottom-0{
  margin-bottom: 0px !important;
}
.marginTop-0{
  margin-top: 0px !important;
}
.marginTop-5{
  margin-top: 5px !important;
}
.marginTop-15{
  margin-top: 15px !important;
}
.marginBottom-30{
  margin-bottom: 30px !important;
}
.marginTop-30{
  margin-top: 30px !important;
}
.padding-0{
  padding: 0 !important;
}
.paddingLeft-0{
  padding-left: 0;
}
.paddingRight-0{
  padding-right: 0;
}
.black-color{
  color: $black-color !important;
}
.theme-color{
  color: $theme-color !important;
}
.line1{
  border-bottom: 1px solid $base-color-2 !important;
  margin: 20px 0;
  position: relative;
}
.fs-11{
  font-size: 11px !important;
}
.fs-12{
  font-size: 12px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
  font-size: 15px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px !important;
}
.fs-20{
  font-size: 20px !important;
}
.fs-24{
  font-size: 24px !important;
}
.select-wrapper input.select-dropdown{
  border-color: #9e9e9e !important;
  font-size: 14px;
}
.select-wrapper span.caret {
  color: $font-color;
}
.dropdown-content li{
  min-height: 30px;
  line-height: 24px;
}
[type="checkbox"].filled-in:not(:checked)+label:after,[type="checkbox"].filled-in:checked+label:before,[type="checkbox"].filled-in:not(:checked)+label:before,[type="checkbox"].filled-in:checked+label:after{
  top: 10px;
}
#requestService {
  [type="checkbox"].filled-in:not(:checked)+label:after,[type="checkbox"].filled-in:checked+label:before,[type="checkbox"].filled-in:not(:checked)+label:before,[type="checkbox"].filled-in:checked+label:after{
    top: 3px;
  }
  p{
    margin: 10px 0;
  }
  p.info {
    position: relative;
    top: -15px;
    margin-bottom: 10px !important;
  }
}
[type="checkbox"].filled-in:checked+label:after{
  border: 2px solid $theme-color;
  background-color: $theme-color;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 14px;
  color: $theme-color;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.btn{
  border-radius: 30px;
  box-shadow: none;
  letter-spacing : 0;
  font-size: inherit;
  padding: 0px 25px;
  text-transform: inherit;
  height: 42px;
  line-height: 42px;
}
.btn-theme{
  background: $theme-color;
  &:hover,&:focus{
    background: $theme-color;
  }
}
.btn-theme-white-bg{
  background: $bg-white;
  color: $theme-color;
  &:hover,&:focus{
    background: $bg-white;
  }
}
.btn-theme-white{
  background: transparent;
  color: $theme-color;
  &:hover,&:focus{
    background: $bg-white;
  }
}
.btn-theme-white-border{
  background: transparent;
  color: $theme-color;
  border: 2px solid $theme-color;
  &:hover,&:focus{
    background: $bg-white;
  }
}
.header{
  background: $bg-white;
  padding: 10px 0;
  .logo {
    display: inline-block;
    img{
      padding-top: 5px;
    }
  }
  ul{
    float: right;
    li{
      display: inline-block;
      a{
        display: block;
        padding: 15px;
        margin-top: 1px;
        color: $black-color;
      }
    }
  }
}
.banner{
  background: $bg-white;
  height: 550px;
  position: relative;
  .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
    h3{
      color: $black-color;
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
    }
  }
}
.featured-listing,.features{
  padding: 50px 0;
  .title{
    margin-bottom: 50px;
    color: $black-color;
  }
}
.theme-cards {
    background: $bg-white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 2px 0px rgba(0,0,0,0.05);
    -ms-box-shadow: 0px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 2px 0px rgba(0,0,0,0.05);
    -o-box-shadow: 0px 2px 0px rgba(0,0,0,0.05);
    h4{
      margin-top: 0;
      font-size: 18px;
      line-height: 24px;
      height: 48px;
      overflow: hidden;
      color: $black-color;
    }
    ul{
      li{
        display: inline-block;
        a{
          color: $font-color;
        }
        .seperator{
          padding: 0 5px;
          display: inline-block;
        }
      }
    }
    .investment{
      h5{
        font-size: 16px;
      }
      h6{
        font-size: 14px;
      }
    }
    .location,.buyers{
      padding: 5px 0 3px;
    }
}
.services{
  background: $bg-white;
  padding: 50px 0;
  border-bottom: 1px solid $border-color;
  .services-cards{
    text-align: center;
    .services-image{
      img{
        border-radius: 100%;
        width: 80px;
        height: 80px;
      }
    }
    h4{
      font-size: 16px;
      color: $black-color;
    }
  }
}
.features{
  background: $bg-white;
  .features-cards{
    padding-bottom: 100px;
    h4{
      color: $black-color;
      font-size: 20px;
      margin-top: 50px;
    }
  }
  .features-cards:last-child{
    padding-bottom: 0;
  }
}
.home-cta{
  color: #fff;
  background: $theme-color;
  padding: 40px 0 20px;
  h4{
    font-size: 24px;
    line-height: 36px;
  }
  .btn{
    margin-top: 25px;
    border: 2px solid #fff;
    height: 50px;
    line-height:42px;
  }
}
.main-footer{
  background: $bg-white;
  padding: 50px 0 10px;
  .col.m6{
    padding: 0;
  }
  h4{
    color: $black-color;
    font-size: 20px;
    margin-bottom: 20px;
  }
  ul{
    li{
      display: block;
      padding: 5px 0;
      a{
        color: $font-color;
        display: block;
        &:hover{
          color: $theme-color;
        }
      }
    }
  }
  .footer-top{
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;
  }
  .get-in-touch{
    .service-details{
      color: $theme-color;
    }
  }
}
.heading-inner{
  h4{
    color: $black-color;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 600;
  }
  h6{
    font-size: 14px;
  }
}
.search {
    background: $bg-white;
    margin: 30px 0 30px;
    position: relative;
    .material-icons{
      position: absolute;
      top: 12px;
      left: 12px;
    }
    input{
      padding-left: 50px !important;
      width: calc(100% - 50px) !important;
      margin: 0 !important;
      border: 0 !important;
      &:hover,&:focus{
        border-bottom: 0 !important;
        box-shadow: none !important;
        outline: 0 !important;
      }
    }
}
.search-filter{
  background: $bg-white;
  padding: 20px 0.75rem !important;
  margin-top: 30px;
}
.filters{
  p{
    margin: 0;
  }
}
.filters-loadmore{
  color: $font-color;
  display: block;
  padding: 10px 0;
  cursor: pointer;
  font-size: 12px;
  &:hover{
    color: $theme-color;
  }
}
.input-field.col label,label.main-label{
  font-size: 15px;
}
.breadcrums{
  ul{
    padding: 15px 0;
    li{
      display: inline-block;
      a{
        position: relative;
        display: block;
        color: $font-color;
        padding-right: 15px;
        &:hover,&:focus{
          text-decoration: none;
          color: $theme-color;
        }
        &:after{
          content: '>';
          right : 0;
          position: absolute;
        }
        .material-icons{
          position: relative;
          top: 7px;
        }
      }
    }
    li:last-child{
      a{
        &:after{
          content: '';
        }
      }
    }
  }
}
.browseListingDetailsWrapper{
  .short-desc {
    background: #fff;
    padding: 30px;
    margin-bottom: 50px;
    h2,h3,h4,h5{
      margin-top: 0;
    }
    .intro{
      margin-bottom: 30px;
      h3{
        font-size: 20px;
        color: $black-color;
      }
      h5{
        font-size: 13px;
        .material-icons{
          font-size: 14px;
          top: 4px;
          position: relative;
          margin-bottom: 10px;
        }
      }
    }
    .analytics{
      margin-bottom: 30px;
      .col.m4{
        border-right: 2px solid $border-color;
        margin-right: 3%;
        width: 30%;
      }
      .col.m4:last-child{
        border-right: 0px solid $border-color;
      } 
      h5{
        font-size: 13px;
        color: $black-color;
        text-transform: uppercase;
      }
      h2{
        font-size: 22px;
        margin-top: 15px;
      }
    }
    .brief{
      h3{
        font-size: 13px;
        color: $black-color;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
    .share {
      h5{
        text-align: right;
        a{
          color: $font-color;
          display: inline-block;
          .material-icons{
            font-size: 24px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .register {
    padding: 30px;
    margin-top: 30px;
    background: #fff;
    h5{
      font-size: 15px;
      line-height: 30px;
      a{
        color: $theme-color;
      }
    }
  }
  .represented {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    text-align: left;
    h4{
      font-size: 13px;
      text-transform: uppercase;
    }
    h3{
      margin-top: 0px;
      font-size: 17px;
    }
  }
}
.center-modal {
  background: #fff;
  padding: 10px 30px;
  margin: 50px 0 10px;
}
.dashboard-concept{
  height: auto !important;
  width: 100%;
  border-radius: 0;
  min-height: 250px;
  background: $bg-white;
  color: $base-color !important;
  padding-bottom: 50px;
  display: block;
  text-align: center;
  @include boxshadow(0,0,1px,#e6e6e6);
  &:hover,&:focus{
    height: auto !important;
    width: 100%;
    border-radius: 0;
    min-height: 250px;
    background: $bg-white;
    color: $theme-color;
  }
  .material-icons{
    font-size: 50px;
    color: $black-color;
    margin: 50px 0 15px 0;
    opacity: 0.4;
  }
  h4{
    color: $theme-color;
    font-size: 22px;
  }
  p{
    color: $font-color !important;
    font-size : 16px;
  }
}
.browseListing-help{
  margin-top: 45px;
  h4{
    color: $black-color;
    font-size: 20px;
  }
  h6{
    margin-bottom: 30px;
  }
  .help-cards {
    a{
      display: block;
      background:$bg-white;
      padding: 30px 15px;
      @include boxshadow(0,0,1px,#e6e6e6);
      h5{
        font-size: 18px;
        color: $theme-color;
      }
    }
  }
}
.createServiceProfile{
  position: relative;
  height: 200px;
  overflow: hidden;
  background-image: url(../images/slide1.jpg);
  background-position: center center;
  .serviceProfile {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      @include translate(0,-50%);
      h4{
        font-size: 24px;
        color: $bg-white;
        padding-left: 30px;
      }
      h6{
        font-size: 14px;
        color: $bg-white;
        padding-left: 30px;
      }
  }
}
.tabs-wrapper {
  .tabs{
    background: transparent;
    margin-bottom: 30px;
    .tab{
      margin-right: 30px;
       a{
          font-weight: 600;
          padding: 0;
        }
    }
  }
}
.browsedetails-section{
  background: $bg-white;
  padding: 30px;
  margin-bottom: 50px;
  @include boxshadow(0,0,1px,#e6e6e6);
  .m6{
    padding: 0;
  }
  .heading{
    font-size: 20px;
    color: $black-color;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .browsedetails-content{
    margin-bottom: 15px;
    .label{
      font-size: 12px;
      opacity: 0.6;
      text-transform: uppercase;
      margin: 0px;
      display: block;
    }
    h5{
      margin: 0px 0 15px 0px;
      font-size: 15px;
    }
  }
}
.browseDetails-documents{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    display: block;
    margin-bottom: 5px;
    a{
      position: relative;
      display: inline-block;
      top: 7px;
    }
  }
}
textarea.materialize-textarea:focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly]) {
  color: $theme-color !important;
}
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid $theme-color;
  -webkit-box-shadow: 0 1px 0 0 $theme-color;
  box-shadow: 0 1px 0 0 $theme-color;
}
input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label{
  color: $theme-color !important;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid $theme-color;
  -webkit-box-shadow: 0 1px 0 0 $theme-color;
  box-shadow: 0 1px 0 0 $theme-color;
}
.modal{
  padding-bottom: 20px;
  .modal-footer {
    text-align: left;
    padding: 4px 15px 0;
  }
}
.timeline {
  border-left: 2px solid $base-color-2;
  margin-left: 100px !important;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding:0 !important;
  color: $font-color;
  margin: 0px auto;
  position: relative;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
  color:$black-color;
}

.timeline .event {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  padding-left : 30px;
}
.timeline .event h3{
  margin: 0;
  font-size: 16px;
  top: -5px;
  position: relative;
}
.timeline .event p{
  margin-top: 10px;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -150px;
  color:$black-color;
  top: -5px;
  content: attr(data-date);
  text-align: right;
  font-size: 12px;
  min-width: 120px;
}
.timeline .event .hike.increment{
  color:$green-color;
  font-size: 10px;
  margin-left: 10px;
  display: inline-block;
  font-weight: 500;
  top: -3px;
  position: relative;
}
.timeline .event:after {
  left: -7px;
  background: $theme-color;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 0px;
}

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
}

a.portfolio-link {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.table{
  background: $bg-white;
  table{
    th,td{
      padding-left: 15px;
    }
  }
}
#viewRequest{
  .btn{
    width: 100%;
    margin-bottom: 15px;
  }
  .m9{
    h3{
      font-size: 24px;
      color: $black-color;
      margin-bottom: 5px;
      img{
        width: 20px;
      }
    }
    h4{
      font-size: 15px;
    }
    .deals{
      margin-bottom: 10px;
      h4{
        font-size: 20px;
        color: $black-color;
        margin-bottom: 0px;
      }
      p{
        margin-top: 0;
      }
    }
  }
}
.specialization{
  span {
      display: inline-block;
      padding: 8px 15px;
      border-radius: 20px;
      background: #f2f2f2;
      margin-right: 5px;
  }
}
.service-providers-cards{
  background: $bg-white;
  padding: 30px;
  margin-bottom:20px;
  .service-header{
    .profile-image{
      width:80px;
      height: 80px;
      border-radius: 100%;
      float: left;
    }
    .profile-nam{
      margin-left: 100px;
      a{
        color: $black-color;
      }
      h4{
        font-size: 18px;
        top: 10px;
        position: relative;
        color: $black-color;
        img{
          width: 20px;
          margin-left: 10px;
          top: 3px;
          position: relative;
        }
      }
      h5{
        font-size: 15px;
        margin-top: 5px;
      }
    }
  }
  .service-content{
    h3{
      font-size: 20px;
      color: $black-color;
      margin-top: 0px;
      margin-bottom: 5px;
    }
    h4{
      font-size: 16px;
      margin: 0;
    }
  }
  .service-footer{
    .bookmark{
      color: $theme-color;
      float: right;
      margin-top: 2px;
      .material-icons{
        font-size: 34px;
      }
    }
  }
  &:hover{
    .service-header{
      a{
        color: $theme-color;
      }
    }
  }
}
.service-provider-dtls{
  margin-top: 40px;
}
.modal{
  .select-wrapper input.select-dropdown{
    border-bottom: 2px solid #9e9e9e !important;
  }
}
.postListingWrapper{
  margin-top: 40px;
  .postListing-leftPanel{
    h5{
      font-size: 24px;
      color:$black-color;
      border-bottom: 2px solid $border-color;
      padding-bottom: 20px;
    }
    ul{
      li{
        display: block;
        a{
          display: block;
          padding: 10px 15px;
          border-left : 4px solid $border-color;
          color: $font-color;
          @include transition(all,0.3s,ease-in-out); 
        }
      }
      li.active{
        a{
          border-color: $theme-color;
          color: $black-color;
          @include transition(all,0.3s,ease-in-out);
        }
      }
    }
  }
  .postListing-rightPanel{
    .postListing-formWrapper{
      background: $bg-white;
      padding: 30px;
      @include boxshadow(0,0,1px,#e6e6e6);
      [type="checkbox"].filled-in:not(:checked) + label:after, [type="checkbox"].filled-in:checked + label:before, [type="checkbox"].filled-in:not(:checked) + label:before, [type="checkbox"].filled-in:checked + label:after{
        top: 3px;
      }
    }
  }
}
.settings-tab {
  li{
    a.active{
      border-left : 4px solid $theme-color !important;
    }
  }
}
.emp{
  margin-bottom: 20px;
  h4{
    font-size: 16px;
    color: $black-color;
    margin: 0;
    a{
      color: $theme-color;
      .material-icons{
        font-size: 20px;
        top: 4px;
        position: relative;
        margin-left: 5px;
      }
    }
  }
  h5{
    font-size: 13px;
    color: $black-color;
    margin: 0;
  }
  h6{
    color: $font-color;
    font-size: 12px;
    margin: 0;
  }
}
#profile{
  .line1{
    margin: 10px 0;
  }
}
input[type=text].valid:not(.browser-default){
  border-bottom: 1px solid #eb5a60;
  -webkit-box-shadow: 0 1px 0 0 #eb5a60;
  -moz-box-shadow: 0 1px 0 0 #eb5a60;
  -ms-box-shadow: 0 1px 0 0 #eb5a60;
  -o-box-shadow: 0 1px 0 0 #eb5a60;
  box-shadow: 0 1px 0 0 #eb5a60;
}
.financial-files{
  .upload-file {
    border: 2px dashed #c7c7c7;
    padding: 4px 10px;
    position: relative;
    top: -15px;
    text-align: center;
  }
}
.financial-label{
  color: $black-color !important;
}