<div class="footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col m3">
        <h4>About the co.</h4>
        <p>Ullamcorper scelerisque sociis a scelerisque integer condimentum quam fames fermentum a primis parturient a diam adipiscing adipiscing semper.</p>
      </div>
      <div class="col m3">
        <h4>Info</h4>
        <ul>
          <li><a href="#">Get Started</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Success Stories</a></li>
        </ul>
      </div>
      <div class="col m3">
        <h4>Company</h4>
        <ul>
          <li><a href="#">Press Releases</a></li>
          <li><a href="#">Mission</a></li>
          <li><a href="#">Reports & Whitepapers</a></li>
        </ul>
      </div>
      <div class="col m3">
        <h4>Contact</h4>
        <ul class="get-in-touch">
          <li>Feel free to get in touch</li>
          <li class="service-details">9999999999</li>
          <li class="service-details">hello@example.com</li>
          <li class="service-details"><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row margin-0">
        <div class="col m6">
          <img src="/images/logo.png" alt="">
        </div>
        <div class="col m6">
          <p class="right-align">&copy; 2018 Link Business. All right reserved.</p>
        </div>
    </div>
  </div>
</div>
