<div class="header">
  <div class="container">
    <a href="index.html" class="logo">
      <img src="/images/logo.png" alt="">
    </a>
    <ul>
      <li><a href="">Home</a></li>
      <li><a ui-sref="browseListing">Browse Listings</a></li>
      <li><a href="">Login</a></li>
      <a class="waves-effect waves-light btn btn-theme">Signup</a>
    </ul>
  </div>
</div>
